# Python
__pycache__/
*.pyc

# logs
out.txt
spark.log

# --- Pattern 1 (001/002/003) ---
00X_input/
00X_output/

# --- Pattern 2 (011/012/013) ---
01X_input/
01X_output/

# --- Pattern 3 (021/022/023) ---
02X_input/
02X_output/
cache/

# --- Pattern 4 (031/032/033) ---
03X_input/
03X_output/

# --- Pattern 5 (111/112/113) ---
11X_input/
11X_output/
